version: "3"

networks:
  swarm-network:
    driver: overlay

services:
  helloworld:
    image: nginxdemos/hello
    networks:
      - swarm-network
    ports:
      - "8080:80"
    deploy:
      placement:
        constraints:
          - node.labels.type == gateway
  postgres:
    image: {{ postgres_image }}
    restart: always
    ports:
      - 5432:5432
    networks:
      - swarm-network
    environment:
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_USER: {{ postgres_user }}
    volumes:
      - {{ swarm_deployments_data_path }}/postgres:/var/lib/postgresql/data
      - {{ swarm_deployments_data_path }}/scripts/init_postgres.sql:/docker-entrypoint-initdb.d/init.sql
    deploy:
      placement:
        constraints:
          - node.labels.type == data
