---
- name: Remove "docker" package
  apt: name=docker state=absent

- name: Remove "docker-engine" package
  apt: name=docker-engine state=absent

- name: Remove "docker.io" package
  apt: name=docker.io state=absent

- name: install apt-transport-https
  apt:
    name: apt-transport-https
    update_cache: yes
    state: present

- name: install ca-certificates
  apt:
    name: ca-certificates
    update_cache: yes
    state: present

- name: install curl
  apt:
    name: curl
    update_cache: yes
    state: present

- name: install gnupg2
  apt:
    name: gnupg2
    update_cache: yes
    state: present

- name: install software-properties-common
  apt:
    name: software-properties-common
    update_cache: yes
    state: present

- name: add Docker's official GPG key
  command: bash -c "curl -fsSL https://download.docker.com/linux/debian/gpg | sudo apt-key add -"

- name: add docker repository
  apt_repository:
    repo: 'deb https://download.docker.com/linux/debian stretch stable'
    state: present

- name: install docker-ce
  apt:
    name: docker-ce
    update_cache: yes
    state: present

- name: Add json config file for network ip definition
  copy:
    src: daemon.json
    dest: /etc/docker/daemon.json

- name: start docker daemon
  service:
    name: docker
    state: started

- name: run docker default test
  command: docker run hello-world

- name: install pip
  easy_install: name=pip state=latest

- name: install docker-py
  pip: name=docker-py

  #- name: check docker-compose version
  #  command: docker-compose --version

- name: create nf_conntrack file
  shell: 'sysctl -w net.netfilter.nf_conntrack_max=200000'

- name: tunning nf_conntrack
  sysctl:
    name: net.netfilter.nf_conntrack_count
    value: 200000
    state: present

- name: tunning nf_conntrack hashsize
  shell: 'echo 50000 > /sys/module/nf_conntrack/parameters/hashsize'

- name: apply tunning
  shell: 'sysctl -p'
