---
- name: Remove "docker" package
  apt: name=docker state=absent

- name: Remove "docker-engine" package
  apt: name=docker-engine state=absent

- name: Remove "docker.io" package
  apt: name=docker.io state=absent

- name: install apt-transport-https
  apt:
    name: apt-transport-https
    state: present

- name: install ca-certificates
  apt:
    name: ca-certificates
    state: present

- name: install curl
  apt:
    name: curl
    state: present

- name: install gnupg2
  apt:
    name: gnupg2
    state: present

- name: install software-properties-common
  apt:
    name: software-properties-common
    state: present

- name: add Docker's official GPG key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: add docker repository
  apt_repository:
    repo: 'deb http://download.docker.com/linux/debian stretch stable'
    state: present

- name: update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: install docker-ce
  apt:
    name: docker-ce
    state: present

- name: start docker daemon
  service:
    name: docker
    state: started

- name: run docker default test
  command: docker run hello-world

- name: install pip
  easy_install: name=pip state=latest

- name: install docker
  pip: name=docker
